<launch>
  <arg name="config" default="base" />

  <param name="robot_description"
         command="$(find ridgeback_baxter_description)/scripts/env_run
                    $(find ridgeback_baxter_description)/urdf/configs/$(arg config)
                    $(find xacro)/xacro $(find ridgeback_baxter_description)/urdf/ridgeback_baxter.urdf.xacro" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
</launch>
